<html>
    <head>
		<title>COVID-19</title>
		<link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	</head>
    <body >
		<section>
			<div class="wrapper">
				<div class="slider_title">
					<h1>COVID-19</h1>
					<p>
						Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
					</p>
				</div> 	
				<div class="image-wrap">
					<div class="image">
				        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ8ifU5w8TFgHqba08SG6qrb2m6LQ4vHKHYNcL87LnyDz3Vy6uv&usqp=CAU" width="600px" height="370px">
				
					</div>
				</div>
			</div>
			<div class="tracker">
					<div class="box-1">
						<h2>Total Cases:-</h2>
						<p id="total-confirmed"></p>
				</div>
					<div class="box-2">
						<h2>Total Recovered:-</h2>
						<p id="total-recover"></p>
					</div>
			</div>
			<div class="tracker">
					<div class="box-1">
						<h2>Today Cases:-</h2>
						<p id="today-confirmed"></p>

					</div>
					<div class="box-2">
						<h2>Today Recovered:-</h2>
						<p id="today-recovered"></p>

					</div>
			</div>
			<div class="state">
				<form>
					<label for="inputState"></label>
                    <select id="inputState" class="form-control">
                    <option selected>STATE</option>
					<option>UTTAR PRADESH</option>
					<option>Maharashtra</option>
					<option>Delhi</option>
					<option>Tamil Nadu</option>
					<option>Rajasthan</option>
					<option>Gujarat</option>
					<option>Telangana</option>
					<option>Madhya Pradesh</option>
					<option>Andhra Pradesh</option>
					<option>Kerala</option>
					<option>Karnataka</option>
					<option>Jammu and Kashmir</option>
					<option>West Bengal</option>
					<option>Haryana</option>
					<option>Punjab</option>
					<option>Bihar</option>
					<option>Odisha</option>
					<option>Uttarakhand</option>
					<option>Chhattisgarh</option>
					<option>Himachal Pradesh</option>
					<option>Assam</option>
					<option>Jharkhand</option>
					<option>Chandigarh</option>
					<option>Ladakh</option>
					<option>Andaman and Nicobar Islands</option>
					<option>Meghalaya</option>
					<option>Goa</option>
					<option>Puducherry</option>
					<option>Manipur</option>
					<option>Tripura</option>
					<option>Mizoram</option>
					<option>Arunachal Pradesh</option>
					<option>Nagaland</option>
					<option>Dadra and Nagar Haveli</option>
					<option>Daman and Diu</option>
					<option>Lakshadweep</option>
					<option>Sikkim</option>
					</select>
					<br>
					<button>Search</button>
				</form>
				
			</div>
			
			<p id="message-1"></p>
			<p id="message-2"></p>
		</section>


	<footer>
	    <p>Copyright &copy;2020</p>
	</footer>
	<script src="/js/app.js"></script>
</body>
</html>